.menu-section {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
    .navbar-nav {
        text-align: center;
        width: 100%;
    }
    .navbar-nav .nav-item {
        display: block;
    }
}
@media (min-width: 769px) {
    .navbar-toggler {
        display: none;
    }
}
